*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
body{
    background:linear-gradient(45deg,#1a1a2e,#16213e);
    color:#fff;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container{
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding:2rem;
}
h1{
    color:#cf3b54;
    margin-bottom: 2rem;
}
#Time{
    font-size:4rem;
    margin-bottom:1rem;
    text-shadow: 0 0 10px rgba(233, 69, 96, 0.7);
}
#date{
    font-size: 1.4rem;
    color:rgb(225, 224, 224);
    margin-bottom: 2rem;
}
button{
background-color:#e94560;
font-size:1rem;
padding:10px 20px;
transition:all 0.3s ease;
border:none;
border-radius: 5px;
color:white;
}
button:hover{
    background-color: #cf3b54;
    transform: scale(1.05);
    cursor: pointer;
}
